*{
    margin: 0;
    padding: 0;
}

body{
    background-image: url(image/641951.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

header{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
input[type=text] {
	appearance: none;
	border: none;
	outline: none;
	border-bottom: .2em solid #E91E63;
	background: rgba(#E91E63, .2);
	border-radius: .2em .2em 0 0;
	padding: .4em;
	color: #E91E63;
}
.form_container{
    width: 50%;
    height: 100%;
    background-color: white;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    font-family: 'Exo 2', sans-serif;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}
.form_container input{
    width: 200px;
    height: 30px;
}
form{
    display: flex;
    flex-direction: column;
}
button{
    height: 50px;
    border-radius: 7px;
    border: none;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    background-color: pink;
}